<section>
  <form id="formNew" *featureToggle="true">
    <div class="">
      <label for="newTitle">New Title</label>
      <input type="text" #newTitle>
    </div>
    <div class="">
      <label for="newCreator">Add creator/your name?</label>
      <input type="text" #newCreator>
    </div>
    <h4>Add the Address:</h4>
    <div class="">
      <label for="newPhysicalAddress">New phisical location</label>
      <input type="text" #newPhysicalAddress>
    </div>
    <div class="">
      <label for="newZipCode">Add zipcode</label>
      <input type="number" #newZipCode>
    </div>
    <h4>Or add the coordenates:</h4>
    <div class="">
      <label for="newLatitude">Add Latitud</label>
      <input type="number" #newLatitude>
    </div>
    <div class="">
      <label for="newLongitude">Add longitude</label>
      <input type="number" #newLongitude>
    </div>

    <button (click)="submitForm(newTitle.value, newPhysicalAddress.value, newZipCode.value, newLatitude.value, newLongitude.value, newCreator.value); newTitle.value=''; newPhysicalAddress.value=''; newZipCode.value=''; newCreator.value=''; newLatitude.value=''; newLongitude.value='';">Add a New Geocacher</button>
  </form>  
</section>
