<!-- <div class="base-class" ng-class="myVar"> -->

  <form id="formNew" *featureToggle="true">
    <div class="">
      <label for="newTitle">New Title</label>
      <input type="text" #newTitle>
    </div>
    <div class="">
      <label for="newPhysicalAddress">New phisical location</label>
      <input type="text" #newPhysicalAddress>
    </div>
    <div class="">
      <label for="newZipCode">Add zipcode</label>
      <input type="number" #newZipCode>
    </div>
    <div class="">
      <label for="newLatitude">Add Latitud</label>
      <input type="number" #newLatitude>
    </div>
    <div class="">
      <label for="newLongitude">Add longitude</label>
      <input type="number" #newLongitude>
    </div>
    <div class="">
      <label for="newCreator">Add creator/your name?</label>
      <input type="text" #newCreator>
    </div>

    <button (click)="submitForm(newTitle.value, newPhysicalAddress.value, newZipCode.value, newLatitude.value, newLongitude.value, newCreator.value); newTitle.value=''; newPhisicalLocation.value=''; newZipCode.value=''; newCreator.value=''; newLatitude.value=''; newLongitude.value='';">Add</button>
  </form>

<!-- </div> -->

<h2>See All the Geocachers...</h2>
<button (click)="getList()">get list</button>

<!-- <app-geocacher-detail></app-geocacher-detail>


<div *featureToggle="true">
  condition is true and `featureToggle` is enabled.
</div>
<div *featureToggle="false">
  condition is false and `featureToggle` is disabled.
</div> -->



<!-- , newPhisicalLocation.value, -->
<!-- ; newPhisicalLocation.value = '' -->
